Fields_Pipeline1_*/
Fields_Pipeline2_*/
Analysis_Pipeline1_*/
Analysis_Pipeline2_*/
Analysis_Unique_Pockets_*/
failed_pdbs_pipeline2.txt
__pycache__/
*.pyc
.DS_Store
*.mrc
scripts/testdata/
scripts/*_fixed.pdb
io.mc

!data/example/**
!Analysis_Unique_Pockets_1AKX_fixed/
!Analysis_Unique_Pockets_1AKX_fixed/**
